body{
margin:0;
font-family:sans-serif;
background:#0f172a;
color:white;
}

header{
padding:15px;
text-align:center;
background:#020617;
}

.modeButtons button{
margin:5px;
padding:10px;
border-radius:10px;
border:none;
cursor:pointer;
}

.stats{
padding:10px;
text-align:center;
}

.stat{
font-size:18px;
margin:5px;
}

.progress{
height:15px;
background:#1e293b;
border-radius:10px;
overflow:hidden;
}

#progressBar{
height:100%;
width:0%;
background:#22c55e;
}

.inputPanel{
display:flex;
flex-direction:column;
gap:8px;
padding:15px;
}

input,textarea{
padding:10px;
border-radius:8px;
border:none;
}

button{
padding:12px;
border:none;
border-radius:10px;
background:#22c55e;
color:white;
font-weight:bold;
}

#map{
height:500px;
margin:10px;
border-radius:10px;
}

@media(max-width:600px){

#map{
height:60vh;
}

input,textarea{
font-size:16px;
}

}
